.Wrap{
    overflow: hidden;
    background: #f4f4f4;
}
#header {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-sizing: border-box;
    height: 80px;
    background: none;
    transform: translateZ(0);
    transition: height 3s;
}

#header.brand:before {
    height: 170px;
}

#header:before {
    display: block;
    content: '';
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    background: #ffffff;
    opacity: 0;
    transition: all .3s;
}

#header .header_inner {
    position: relative;
    z-index: 1;
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}

#header:after {
    display: block;
    content: '';
    position: absolute;
    top: 79px;
    right: 0;
    left: 0;
    height: 1px;
    background: rgba(255,255,255,0.2);
    transition: all .3s;
}


.header_inner img { width: 134px; }

.header .gnb {
    margin: 0 auto;
}

.header .gnb>ul {
    display: flex;
    gap: 78px;
}

.header .gnb>ul>li {
    position: relative;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
}



.header .gnb>ul>li a {
    display: block;
}

.header .gnb>ul ul{
    display: none;
    position: absolute;
    top: 58px;
    left: 50%;
    z-index: 2;
    width: 180px;
    line-height: 60px;
    transform: translateX(-50%);
    text-align: center;

    background: #fff;
    color: #333;
    font-size: 15px;
    font-weight: 400;
}

/* .gnb>ul>li:hover ul { 
    display: block;
} */

.header .right_menu { display: flex;}


.main_visual {
    position: relative;
    z-index: 1;
}

.main_visual .main_slides {
    max-height: 750px;
    height: 100%;
}

/* 이미지 사이즈 다시 해서 넣기 */

.intro .intro_inner {
    display: flex;
    /* 둘다 패딩높이 같은데 이너에 같이 줘도 되나? */
}



.intro .left{
    max-width: 1280px;
    width: 100%;
    height: 670px;
    background: url(../img/bg_section1_left.gif);
}
.intro .right{
    max-width: 1280px;
    width: 100%;
    max-height: 670px;
    height: 100%;
    background: url(../img/bg_section1_right.gif);
}

.menu .menu_inner{
    max-width: 2560px;
    width: 100%;
    height: 670px;
    background: url(../img/bg_section2.jpg);
}

.footer {
    padding: 120px 0;
    background-color: #333;
}